In [1]:
from datetime import datetime, timedelta

## Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска.  
Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:  
The Moscow Times - Wednesday, October 2, 2002  
The Guardian - Friday, 11.10.13  
Daily News - Thursday, 18 August 1977

In [20]:
mt = 'Wednesday, October 2, 2002'
tg = 'Friday, 11.10.13'
dn = 'Thursday, 18 August 1977'

In [21]:
mt_dttm = datetime.strptime(mt, '%A, %B %d, %Y')
mt_dttm

datetime.datetime(2002, 10, 2, 0, 0)

In [22]:
tg_dttm = datetime.strptime(tg, '%A, %d.%m.%y')
tg_dttm

datetime.datetime(2013, 10, 11, 0, 0)

In [23]:
dn_dttm = datetime.strptime(dn, '%A, %d %B %Y')
dn_dttm

datetime.datetime(1977, 8, 18, 0, 0)

## Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [26]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

for i in stream:
    try:
        temp = datetime.strptime(i,'%Y-%m-%d')
        flg = True
    except:
        flg = False
    finally:
        print(i, flg)

2018-04-02 True
2018-02-29 False
2018-19-02 False

## Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.  
Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [47]:
def date_range(start_date, end_date):
    date_list = []
    
    try:
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
    except:
        return(date_list)
    
    if start_date > end_date:
        return(date_list)
    
    temp_dt = start_date_dt
    
    while temp_dt <= end_date_dt:
        date_list.append(datetime.strftime(temp_dt, '%Y-%m-%d'))
        temp_dt += timedelta(days=1)

        
    return(date_list)

In [49]:
start_date = input('Введите стартовую дату в формате YYYY-MM-DD  ')
end_date = input('Введите конечную дату в формате YYYY-MM-DD  ')
date_range(start_date, end_date)

Введите стартовую дату в формате YYYY-MM-DD  2018-01-01
Введите конечную дату в формате YYYY-MM-DD  2018-01-01

['2018-01-01']

## Задание 4 (бонусное)
Ваш коллега прислал код функции:

In [58]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    return default_list[DEFAULT_USER_COUNT-2]

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
'A101'

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

In [59]:
delete_and_return_last_user(1)

'A101'

In [60]:
delete_and_return_last_user(1)

IndexError: list index out of range

## Ответ:

1. Ошибка означает, мы попытались обратиться к элементу с таким индексом, которого в данный момент в массиве не существует. Элементы массива пронумерованы от 0 до len - 1 (len, естественно, динамически меняется при манипуляциях с массивом), соответственно попытка достать элемент с индексом меньше 0 или больше len-1 приводит к ошибке.  
      
2. При первом запуске мы сначала превращаем массив ['A100', 'A101', 'A102'] в массив ['A100', 'A101'], а затем в return запрашиваем элемент default_list[1], т.е. второй по счёту, который в данный момент равен 'A101'. При втором запуске мы сначала превращаем массив ['A100', 'A101'] в массив ['A100'], а затем снова запрашиваем элемент default_list[1], но поскольку в данный момент наш массив уже состоит из одного элемента, поэтому элемента с индексом 1 в нём не существует, что и приводит к ошибке.